.verse-swap {
  position: relative;
  top: $sm;
  padding: $sm;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  box-shadow: 0 0 4px 2px $grey1;
  border-radius: $xs;
}

.controls {
  button {
    margin-left: $md;
  }
}

.search {
  display: flex;
  justify-content: flex-end;
  padding: $sm;
  background-color: goldenrod;
  
  input {
    margin-right: $md;
  }
  .controls {
    display: inline-block;
  }
}