// Colors
$black: #212121;
$grey1: #888;
$grey2: #bbb;
$grey3: #ddd;
$grey-bg: #e9e9e9;
$white: #fff;
$yellow: gold;

// Ratios
$xs: .25rem;
$sm: .5rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;

// Type
$serif: 'Source Serif Pro', serif;
$sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

body {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 $md;
  color: $black;
  font-family: $serif;
  font-size: 1.15rem;
  line-height: 1.5;
}

select, button {
  height: 2rem;
  font-family: $sans;
  padding: 0 $sm;
  color: $black;
  background-color: $grey-bg;
  border: 1px solid $grey1;
  outline: none;
  border-radius: $xs;

  &:hover {
    cursor: pointer;
    background-color: $grey3;
    border-color: $black;
  }
  &:active {
    background-color: $grey2;
    border-color: $black;
  }
  &:focus {
    border-color: $black;
    box-shadow: 0 0 0 $xs $yellow;
  }
}

select {
  appearance: none;
  padding-right: $lg;
  margin-right: $sm;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDUuODNMMTUuMTcgOWwxLjQxLTEuNDFMMTIgMyA3LjQxIDcuNTkgOC44MyA5IDEyIDUuODN6bTAgMTIuMzRMOC44MyAxNWwtMS40MSAxLjQxTDEyIDIxbDQuNTktNC41OUwxNS4xNyAxNSAxMiAxOC4xN3oiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: $lg;
  background-position: center right;
}