.verse-number {
  user-select: none;
  color: $grey1;
  font-family: $sans;
  font-weight: 900;
  font-size: 65%;
  vertical-align: top;

  .ref {
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.verse-text {
  user-select: none;
  z-index: 2;

  &:hover {
    cursor: pointer;
    background-color: $yellow;
  }

  &:active,
  &:focus,
  & > .active {
    background-color: $black;
    color: $white;
  }
}

.swapped {
  background-color: $grey-bg;
}

.empty {
  max-width: 48rem;
  margin: 0 auto;
  padding: $lg $xl;
  border: 1px solid $grey3;
  border-radius: $sm;
}
