.verse {
  z-index: 2;
  
  &:hover {
    cursor: pointer;
    background-color: $yellow;
  }

  &:active, &:focus, &.active {
    background-color: $black;
    color: $white;
  }
}

.changed { background-color: $grey-bg;}

.verse-number {
  font-family: $sans;
  font-weight: 700;
  font-size: 65%;
  vertical-align: top;
  color: $grey1;

  .bible-reference {
    font-weight: 500;
  }
}