.locator {
  display: flex;
  justify-content: space-between;
}

.verse {
  z-index: 2;
  &:hover {
    cursor: pointer;
    background-color: $yellow;
    box-shadow: 0 0 0 $xs $yellow;
  }
  &:active, &:focus, &.active {
    background-color: $black;
    color: $white;
    box-shadow: 0 0 0 $xs $black;
  }
}

.verse-number {
  font-weight: 900;
  font-size: 65%;
  vertical-align: top;
  color: $grey1;
  .ref {
    font-weight: 600;
  }
}